$general-blue: #10367c;
$accent-blue: #3077c6;
$accent-yellow: #f5bd41;
$dark-mode-1: #121212;
$dark-mode-2: #1d1e1f;
$dark-mode-3: #4d4d4d;
$stroke-main: #f3f3f4;
$text-main: #383838;
$general-white: #ffffff;
$secondary-text: #bfbfbf;
$bg-color: #eaf0f9;
