@import '../../styles/theme.scss';

.travel-info {
  color: #333333;
  background: $general-white;
  padding: 3.2rem 2.2rem;
  border-radius: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.6rem;
  width: 100%;
}
